.uncovered {

}

.instructions {
  width: 231px;
  height: 202px;
  background-color: black;
  font-size: 29px;
  font-weight: bold;
  border-style: solid;
  border-width: 5px;
  border-color: #D51;
  position: absolute;
  top: 13px;
  right: 0;
  color: #EF0;
}


.myStart {
    background:url(http://www.pathguy.com/dukehead.gif) no-repeat;
    border:none;
    cursor: url("http://www.engine001.com/community/resources/nail_pipe_bomb-TTooNU.gif"), default;
    width: 400px;
    height: 400px;
}

.myReset {
    background:url(http://3.bp.blogspot.com/-keoHFX81C-Q/TaZ1NDMMsCI/AAAAAAAABx4/6BJ8WiqBTeY/s1600/logo-128.png) no-repeat;
    border:none;
    cursor: url("http://www.engine001.com/community/resources/nail_pipe_bomb-TTooNU.gif"), default;
    width: 128px;
    height: 128px;
    top: 0;
}

body {
  cursor: url("http://www.engine001.com/community/resources/nail_pipe_bomb-TTooNU.gif"), default;
  background-image: url("http://img13.deviantart.net/68fc/i/2010/135/4/0/background_11_by_elenadudina.jpg");
}

#myDiv {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  display: inline;
}

#myDiv2 {
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  display: inline;
}

.container {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}


.row {
  display: inline-block;
  width: 578px;
  border: none;
  height:190px;
}

.flip {
  transform: rotateY(180deg);
}

.stick {
  background-image: url("http://icons.iconseeker.com/png/fullsize/turtles---teenage-mutant-ninja/stick.png");
  background-size: 100%;
}

.safe {
  text-align: center;
  font-size:  24px;
  font-style: bold;
  background-image: url("https://sistasertraline.files.wordpress.com/2014/01/getoutofjail.jpg");
  background-size: 95%;
}

.card {
  width: 190px;
  height: 190px;
  transform-style: preserve-3d;
  /* this explains transform-style: https://www.webkit.org/blog-files/3d-transforms/transform-style.html*/
  transition: all 1.0s linear;
  display:inherit;
}


.face {
  position: absolute;
  width: 190px;
  height: 190px;
  backface-visibility: hidden;
  background-color: blue;
}

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
}
