.uncovered {

}

body {

}

.container {
  /*background-color: red; doesnt work*/
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/*.card {

  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: left;
  transition: all 1.0s linear;
  border: 2px dotted black;
}*/

.row {
  /*background-color: red; /*works */
  /*float: left;*/
  display: inline-block;
  width: 578px;
  border: 2px dotted black;
  height:190px;
}

/*.left {
  float: left;
}

.middle {
  float: center;

}

.right {
  float: right;
}
*/

.flip {
  transform: rotateY(180deg);
}

/*.container:hover .card {
  transform: rotateY(180deg);
}
*/

/*.front {
  display: block;
}*/

/*.back {
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: black;
  display: inline-block;
  background-color: blue;
}

.face {
  position: absolute;
  width: 190px;
  height: 100%;
  backface-visibility: hidden;
  background-color: red;
}*/


.card {
  width: 190px;
  height: 190px;
  transform-style: preserve-3d;
  /* this explains transform-style: https://www.webkit.org/blog-files/3d-transforms/transform-style.html*/
  transition: all 1.0s linear;
  display:inherit;
}


.face {
  position: absolute;
  width: 190px;
  height: 190px;
  backface-visibility: hidden;
  background-color: tomato;
}

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: lightgray;
}
